html
head
    title Employee Details
    header
        Signup for Employee Details
    body
    form(action = "/employee", method = "post")
    div
        label(for = "name") Name:
        input(name = "name")
    br
    div
        label(for = "age") Age:
        input(name = "age")
    br
    div
        label(for = "city") City:
        input(city = "city")
    br
    button(type = "submit") submit
